<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/base.css" />
    <style>
      main,
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      a {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Login</h1>
      <% if (typeof error !== 'undefined') { %>
      <p><%= error %></p>
      <% } %>
      <form method="POST" action="/auth/login">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          required
          placeholder="ayam@geprek.com"
        />
        <br />
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="******"
        />
        <br />
        <!-- <input type="submit" value="Login" /> -->
        <button type="submit">Login</button>
      </form>
      <p>
        Don't yet have an account? <a href="/auth/signup">Create One Now!</a>
      </p>
    </main>
  </body>
</html>
